@media screen and (min-width: 1px)and (max-width: 550px){
.none{display:none;}
.menu-dialog{
  position:fixed;
  z-index:1;
  height:100%;
  background-color: rgba(0,0,0,.4);
  margin:0px;
  padding:0px;
  border:0px;
  left:0px;
}
.menu-dialog button{
  position: fixed;
  right: 1.3rem;
}
.menu-dialog .remove-container{
  font-size: 3rem;
  position: fixed;
  bottom: 1rem;
  width: 100%;
}
.nav-pills{
  padding:0px;
  border:0px;
  margin:0px;
}
.nav-pills > li + li{
  margin-left: 0px;
}
.nav-pills li{
  width: 100%;
  padding:0px;
  border:0px;
  margin:0px;
  border:1px solid #ddd;
  background-color:white;
}
.nav-pills li a{
  border-radius:0px;
}
.nav-wedge,.nav-arrow{display:none;}
}

@media screen and (min-width: 551px){
.menu-btn{
  display:none;
}
.menu-dialog button{display:none;}
.menu-dialog .remove-container{
  display:none;
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
}
.nav-pills.nav-wizard > li + li {
  margin-left: 0;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428bca;
}
}